<html lang="en">
<head>
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id"
          content='780991077615-r2gtat158ovdvmv5sb7l11l3ed26o8r0.apps.googleusercontent.com'>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
</head>
<body>
<div class="g-signin2" data-onsuccess="onSignIn"></div>
<a href="#" onclick="signOut();">Sign out</a>
<script>
    function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function() {
            console.log('User signed out.');
        });
    }

    function onSignIn(googleUser) {
        //跳转到http://gntina.iok.la/sendRedirect(获取用户信息)
        // location.href = "http://gntina.iok.la/sendRedirect";
        location.href = "http://wanzhangkai.imwork.net/sendRedirect";
        //获取用户基本信息，但是此id不能给后台用，不安全，改用id_token
        /*从这往下的代码都不需要，因为是在后台验证，后台获取用户信息
                    var profile = googleUser.getBasicProfile();
        console.log('google自己封装好的获取用户信息');
        console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
        console.log('Name: ' + profile.getName());
        console.log('Image URL: ' + profile.getImageUrl());
        console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.

        //将id_token发送给后台进行验证
        var id_token = googleUser.getAuthResponse().id_token;
        var xhr = new XMLHttpRequest();
        xhr.open('POST', 'http://gntina.iok.la/idToken');
        xhr.setRequestHeader('Content-Type',
                'application/x-www-form-urlencoded');
        xhr.onload = function() {
            console.log('Signed in as: ' + xhr.responseText);
        };
        xhr.send('idtoken=' + id_token);
                   */
    }
</script>
</body>
</html>
